.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  perspective: 50;

}
.col-xs-12{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;

}
.post{
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;

}
.post:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

