<div class="row">
    <div class="col-xs-12">
        <h2>Vos postes</h2>
        <div class="list-group">
            <button class="list-group-item button" *ngFor="let single of post; let i = index" (click)="onViewPost(i)">
                <h2 class="list-group-item-heading">
                   {{single.title}} 
                  </h2>
                <p class="list-group-item-title"> 
                  {{single.createdAt | date: 'short'}} 
                </p>
            </button>
            <br>
        </div>
        <button class="btn btn-primary" (click)="onNewpost()">nouveau poste</button>
    </div>

</div>