<div class="row">
  <div class="col-xs-12">
    <h2>Vos postes</h2>
    <div class="list-group" >
      <div class="list-group-item"
              *ngFor="let single of post">
              <h2 class="list-group-item-heading"> {{single.title}} </h2>
              <p class="list-group-item-title"> {{single.createdAt}} </p>
              <p class="list-group-item-text"> {{single.texte}} </p>
              <app-commentaire></app-commentaire>
    </div>
    <br>
    </div>
      <button class="btn btn-primary" (click)="onNewpost()">nouveau poste</button>
    </div>

</div>
