<div class="row">
  <div class="col-md-12" class="offset-md-3">
    <h1>mettre à jour votre compte</h1>
    <form action="" method="post" class="form-group">
      <div>
        <label for="name">votre nom</label>
        <input type="text" name="name" id="name" class="form-control">
      </div>
      <div>
        <label for="surname">votre prénom</label>
        <input type="text" name="surname" id="surname" class="form-control">
      </div>
      <div><label for="img">votre Photo</label>
        <input type="text" name="img" id="img" class="form-control">
      </div>
    </form>
  </div>
</div>
