<div class="row">
  <div class="col-md-12">
    <form action="" class="group-form" (ngSubmit)="onSavePost()" [formGroup]="postForm">

      <div>
        <label for="name"><strong>VOTRE NOM:</strong></label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
<br>
      <div>
        <label for="post"><strong>VOTRE MESSAGE :</strong></label>
      <textarea formControlName="post" id="post" class="form-control" rows="20" cols="20"></textarea>
      <br><br>
      <button type="submit" class="btn btn-primary" [disabled]= "postForm.invalid">poster</button>
      </div>
    </form>
  </div>
</div>
