<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="blog" class="navbar-brand">mediaschool</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup" class="navbar-brand nav-link">Créer un compte</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin" class="navbar-brand">Connexion</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
        <a routerLink="auth/signin" class="navbar-brand" (click)="onSignOut()" style="cursor: pointer">Déconnexion</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
        <a routerLink="account" class="navbar-brand" style="cursor: pointer">Mon Compte</a>
      </li>
    </ul>
  </div>
</nav>